body {
  background-color: black;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 150px;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  border-top-color: #261C2C;
  border-left-color: #3E2C41;
  border-bottom-color: #5C527F;
  border-right-color: #6E85B2;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
      transform: rotate(2turn)
}
